
export STORAGE_BASE_DIR='/var/vmail'
export DISABLE_WEB_SERVER='YES'
export WEB_SERVER=''
export BACKEND_ORIG='MARIADB'
export BACKEND='MYSQL'
export VMAIL_DB_BIND_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export VMAIL_DB_ADMIN_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export MLMMJADMIN_API_AUTH_TOKEN='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export NETDATA_DB_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export MYSQL_ROOT_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export FIRST_DOMAIN='{{ groupware_server_accounts[0].email.split('@')[1] }}'
export DOMAIN_ADMIN_PASSWD_PLAIN='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export AMAVISD_DB_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export IREDADMIN_DB_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export RCM_DB_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export SOGO_DB_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export SOGO_SIEVE_MASTER_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export IREDAPD_DB_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
export FAIL2BAN_DB_PASSWD='{{ lookup('password', '/dev/null chars=ascii_lowercase,ascii_uppercase,digits length=32') }}'
#EOF
